            h1 {
                color: white;
            }
            h3 {
                color: yellow;
            }
            p {
                color: yellow;
                text-align: center;
                font-size: 20px
            }
            hr {
                color: red;
            }
            ol {
                color: white;
            }
            body {
                background-color:#262626
            }
            a { 
                color: red;
            }
            img {
                width: 200px;
            }
            .light {
                background-color: white;
            }
            .dark {
                background-color: tan;
                color: white;
            }
            table {
                border: 3;
                text-align: center;
            }
            body {
                background-color: tan;
            }
